{% extends "base.html" %}

{% block title %}Prognoza wartości portfela{% endblock %}

{% block content %}
<h1>Prognoza wartości portfela</h1>

<table border="1">
    <thead>
        <tr>
            <th>Dni</th>
            <th>Prognozowana wartość (USD)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in forecast %}
        <tr>
            <td>{{ row.day }}</td>
            <td>{{ "%.2f"|format(row.value) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
